@charset "utf-8";
 * {
   outline: none;
}
/*body {
   font-family: 'Oswald', sans-serif;
}
*/
 .header {
   padding: 1.5rem 1.5rem 1.5rem 0;
}
 .navbar-brand {
   font-size: 2rem;
   color: #212529;
}
 .navbar-brand:hover {
   color: #212529;
}
 .navbar-nav .nav-item .nav-item {
   padding-left: 15px;
}
 .navbar-nav .nav-link {
   color: #4c7da6;
   padding-top: 0.3125rem;
   padding-bottom: 0.3125rem;
}
/*.main-wrapper {
   margin-top: 20px;
}
*/
/*.navbar-brand {
   font-weight: 700;
   color: #000;
   text-transform: uppercase;
   font-size: 1.125rem;
   margin-right: 0;
}
*/
 .navbar-default {
   background-color: #fff;
   border-radius: 5px;
   padding: 25px 10px;
}
 .navbar-default .nav-link {
   font-weight: 500;
   color: #696969;
   text-transform: uppercase;
}
 .navbar-default .nav-link:hover {
   color: #f00;
}
 .navbar-default span {
   padding-left: 0.5rem;
   font-weight: 500;
   color: #696969;
   text-transform: uppercase;
}
 .navbar-default .navbar-nav .navbar-nav {
   padding-left: 20px;
}
 .navbar-default .navbar-nav .navbar-nav .nav-link {
   padding-top: 0.125rem;
   padding-bottom: 0.125rem;
}
 .jumbotron {
   padding-top: 1rem;
   padding-bottom: 1rem;
}
 .jumbotron p.lead {
   font-size: 1rem;
}
 .content {
   background-color: #fff;
   border-radius: 5px;
   padding: 15px;
   margin-bottom: 30px;
}
 .crossword-meta li {
   margin-right: 15px;
}
 .grid {
   margin: auto;
   width: 90px;
   height: 90px;
   display: grid;
   grid-template: repeat(5, 20%)/repeat(5, 20%);
   position: relative;
}
 .grid__item {
   border: 1px solid #8f8f8f;
   cursor: pointer;
   font-size: 10px;
   vertical-align: middle;
   text-align: center;
   line-height: 18px;
   position: relative;
}
 .grid__item.cn:before {
   content: " ";
   color: #ccc;
   font-size: 35px;
   display: block;
   width: 16px;
   height: 16px;
   background: url('../images/cn.png') 50% 50%;
   background-size: cover;
   position: absolute;
}
 .grid--1 {
   background: #fff;
}
 .grid--2 {
   background: #dadada;
   grid-template: repeat(2, 50%)/repeat(5, 20%);
   width: 90px;
   height: 0;
   top: 0;
   position: absolute;
   display: grid;
}
 .grid--3 {
   background: #dadada;
   grid-template: repeat(5, 20%)/repeat(2, 50%);
   width: 0;
   height: 90px;
   left: 0;
   position: absolute;
   display: grid;
}
 .grid--2, .grid--3 {
   background: #dadada;
}
 .blb {
   border-left: 2px solid #8f8f8f;
}
 .brb {
   border-right: 2px solid #8f8f8f;
}
 .bbb {
   border-bottom: 2px solid #8f8f8f;
}
 .btb {
   border-top: 2px solid #8f8f8f;
}
 .cb {
   background: #000;
}
 .fade.in {
   opacity: 1;
}
 .crossword-item {
   margin-top: 15px;
   margin-bottom: 15px;
}
 .crossword-item:hover {
   background: #eaeaea;
}
 .crossword-item h2 {
   font-size: 1.125rem;
   height: 44px;
}
 .crossword-item h2 a {
   color: #212529;
}
 .crossword-item .crossword-image {
   display: flex;
   height: 200px;
   margin: 1rem;
   overflow: hidden;
   align-items: center;
   justify-content: center;
}
 .crossword-item .crossword-image img {
   max-width: 200px;
   height: auto;
}
 .footer {
   height: 60px;
   line-height: 60px;
   background-color: #f5f5f5;
}
 .highlightHints {
   background-color: #f2f2f2 !important;
}
 .highlightCell {
   background-color: #000 !important;
}
 .grid-crossword-screen .cn {
   background: #fff !important;
}
 .auth-clients {
   padding-left: 0;
}
 .color-1 {
   color: #ffd700;
}
 .input-prepend {
   background-color: rgba(255, 255, 255, 0.7);
   padding: 6px;
 } 

 .blink {
   animation: blink 3s infinite;
 }
 @keyframes blink {
   from { opacity: 1;}
   to { opacity: 0;}
 }
